In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('./dataset/kaggle_bot_accounts.csv')

In [4]:
df.head()

,Unnamed: 0,NAME,GENDER,EMAIL_ID,IS_GLOGIN,FOLLOWER_COUNT,FOLLOWING_COUNT,DATASET_COUNT,CODE_COUNT,DISCUSSION_COUNT,AVG_NB_READ_TIME_MIN,REGISTRATION_IPV4,REGISTRATION_LOCATION,TOTAL_VOTES_GAVE_NB,TOTAL_VOTES_GAVE_DS,TOTAL_VOTES_GAVE_DC,ISBOT
0,0,Johnny KerrThomas,Male,jacksonalan@example.com,False,53.0,87.0,5.0,3.0,124.0,NaN,81.88.75.170,Argentina,16.0,10.0,3.0,NaN
1,1,Dwayne LarsenLara,Male,calvin80@example.com,True,16.0,67.0,5.0,NaN,26.0,24.97,NaN,New Zealand,14.0,5.0,2.0,NaN
2,2,NaN,Male,qbrown@example.net,True,44.0,81.0,4.0,17.0,125.0,7.75,159.202.103.178,Costa Rica,16.0,4.0,0.0,False
3,3,Russell SimmonsPhillips,Male,kimberlywagner@example.com,True,23.0,114.0,5.0,24.0,67.0,13.40,196.11.132.51,Italy,21.0,10.0,1.0,False
4,4,Jamie WilsonMartinez,Female,shaunbrooks@example.com,False,46.0,112.0,2.0,12.0,63.0,24.83,159.196.199.20,Belgium,10.0,6.0,2.0,False

In [5]:
df.columns

Index(['Unnamed: 0', 'NAME', 'GENDER', 'EMAIL_ID', 'IS_GLOGIN',
       'FOLLOWER_COUNT', 'FOLLOWING_COUNT', 'DATASET_COUNT', 'CODE_COUNT',
       'DISCUSSION_COUNT', 'AVG_NB_READ_TIME_MIN', 'REGISTRATION_IPV4',
       'REGISTRATION_LOCATION', 'TOTAL_VOTES_GAVE_NB', 'TOTAL_VOTES_GAVE_DS',
       'TOTAL_VOTES_GAVE_DC', 'ISBOT'],
      dtype='object')

In [6]:
df.isnull().sum()

Unnamed: 0                   0
NAME                     78164
GENDER                   77879
EMAIL_ID                 77814
IS_GLOGIN                77916
FOLLOWER_COUNT           77712
FOLLOWING_COUNT          78445
DATASET_COUNT            78567
CODE_COUNT               77926
DISCUSSION_COUNT         77722
AVG_NB_READ_TIME_MIN     78316
REGISTRATION_IPV4        78329
REGISTRATION_LOCATION    78290
TOTAL_VOTES_GAVE_NB      77705
TOTAL_VOTES_GAVE_DS      77934
TOTAL_VOTES_GAVE_DC      78030
ISBOT                    78500
dtype: int64

In [7]:
df.isnull().sum().sum()

np.int64(1249249)

In [8]:

df.shape

(1321188, 17)

In [9]:
df = df.dropna()

In [10]:
df.isnull().sum()

Unnamed: 0               0
NAME                     0
GENDER                   0
EMAIL_ID                 0
IS_GLOGIN                0
FOLLOWER_COUNT           0
FOLLOWING_COUNT          0
DATASET_COUNT            0
CODE_COUNT               0
DISCUSSION_COUNT         0
AVG_NB_READ_TIME_MIN     0
REGISTRATION_IPV4        0
REGISTRATION_LOCATION    0
TOTAL_VOTES_GAVE_NB      0
TOTAL_VOTES_GAVE_DS      0
TOTAL_VOTES_GAVE_DC      0
ISBOT                    0
dtype: int64

In [11]:

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 498987 entries, 3 to 1321185
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             498987 non-null  int64
 1   NAME                   498987 non-null  object
 2   GENDER                 498987 non-null  object
 3   EMAIL_ID               498987 non-null  object
 4   IS_GLOGIN              498987 non-null  object
 5   FOLLOWER_COUNT         498987 non-null  float64
 6   FOLLOWING_COUNT        498987 non-null  float64
 7   DATASET_COUNT          498987 non-null  float64
 8   CODE_COUNT             498987 non-null  float64
 9   DISCUSSION_COUNT       498987 non-null  float64
 10  AVG_NB_READ_TIME_MIN   498987 non-null  float64
 11  REGISTRATION_IPV4      498987 non-null  object
 12  REGISTRATION_LOCATION  498987 non-null  object
 13  TOTAL_VOTES_GAVE_NB    498987 non-null  float64
 14  TOTAL_VOTES_GAVE_DS    498987 non-null  float64
 15  TOTAL_VOTES_GAVE_DC    498987 non-null  float64
 16  ISBOT                  498987 non-null  object
dtypes: float64(9), int64(1), object(7)
memory usage: 68.5+ MB

In [12]:
df.drop('Unnamed: 0', axis = 1, inplace = True)

In [13]:

df.columns

Index(['NAME', 'GENDER', 'EMAIL_ID', 'IS_GLOGIN', 'FOLLOWER_COUNT',
       'FOLLOWING_COUNT', 'DATASET_COUNT', 'CODE_COUNT', 'DISCUSSION_COUNT',
       'AVG_NB_READ_TIME_MIN', 'REGISTRATION_IPV4', 'REGISTRATION_LOCATION',
       'TOTAL_VOTES_GAVE_NB', 'TOTAL_VOTES_GAVE_DS', 'TOTAL_VOTES_GAVE_DC',
       'ISBOT'],
      dtype='object')